$white: #ffffff;
$green: #4a986c;
$blue: #5782c2;
$lightgray: #d3d3d3;
$shadow: 0 0 6px #333333;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

body {
	display: flex;
	width: 100vw;
  height: 100vh;
  background: $green url('/img/bg.jpg') center/cover;
  margin: 0;  
}

@import "cards";
@import "controls";
