* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.playing-field {
  height: 300px;
  width: 300px;
  border: 0.25rem solid darkgreen;
}

.row {
  display: flex;
}

.field {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 0rem 0rem;
  height: 100px;
  width: 100px;
  border: 0.25rem solid darkgreen;
}
